LogicAppTemplate.Test/TestFiles/complex-logicapp-switch.json
{
  "properties": {
    "provisioningState": "Succeeded",
    "createdTime": "2017-04-07T06:40:49.6623589Z",
    "changedTime": "2017-04-12T08:54:55.4081962Z",
    "state": "Enabled",
    "version": "08587096195901185904",
    "accessEndpoint": "https://prod-18.westeurope.logic.azure.com:443/workflows/7f90c7c14bdc4899b779c001b695dc91",
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {},
      "triggers": {
        "request": {
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "schema": {
              "$schema": "http://json-schema.org/draft-04/schema#",
              "properties": {
                "Report_actionCode": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "workorderno": {
                  "type": "string"
                }
              },
              "required": [
                "workorderno",
                "Report_actionCode"
              ],
              "type": "object"
            }
          }
        }
      },
      "actions": {
        "Condition": {
          "actions": {
            "Switch": {
              "runAfter": {},
              "cases": {
                "Case": {
                  "case": "[",
                  "actions": {
                    "For_each": {
                      "foreach": "@triggerBody()['Report_actionCode']",
                      "actions": {
                        "INT002_Create_Actioncode": {
                          "runAfter": {},
                          "type": "ApiManagement",
                          "inputs": {
                            "api": {
                              "id": "/subscriptions/af531b7a-d0ff-455d-a2bf-eae0b300696d/resourceGroups/rgname/providers/Microsoft.ApiManagement/service/apiinstance/apis/58778a86990a990f5c794e48"
                            },
                            "body": {
                              "actioncode": "@{item()}",
                              "workorderno": "@{triggerBody()['workorderno']}"
                            },
                            "method": "post",
                            "pathTemplate": {
                              "parameters": {},
                              "template": "/limetest/createactioncode"
                            },
                            "subscriptionKey": "fake530567e4e03bb0d21254fo8252b"
                          }
                        }
                      },
                      "runAfter": {},
                      "type": "Foreach"
                    }
                  }
                }
              },
              "default": {
                "actions": {
                  "INT002_Create_Actioncode_2": {
                    "runAfter": {},
                    "type": "ApiManagement",
                    "inputs": {
                      "api": {
                        "id": "/subscriptions/af531b7a-d0ff-455d-a2bf-eae0b300696d/resourceGroups/rgname/providers/Microsoft.ApiManagement/service/apiinstance/apis/58778a86990a990f5c794e48"
                      },
                      "body": {
                        "actioncode": "@{triggerBody()['Report_actionCode']}",
                        "workorderno": "@{triggerBody()['workorderno']}"
                      },
                      "method": "post",
                      "pathTemplate": {
                        "parameters": {},
                        "template": "/limetest/createactioncode"
                      },
                      "subscriptionKey": "fakec530567e4e03bb0d21254fo8252b"
                    }
                  }
                }
              },
              "expression": "@substring(string(coalesce(triggerbody()['Report_actionCode'],'Null')),0,1)",
              "type": "Switch"
            }
          },
          "runAfter": {},
          "expression": "@not(equals(triggerBody()['Report_actionCode'], ''))",
          "type": "If"
        },
        "Response": {
          "runAfter": {
            "Condition": [
              "Succeeded"
            ]
          },
          "type": "Response",
          "inputs": {
            "body": "@triggerBody()['Report_actionCode']",
            "statusCode": 200
          }
        }
      },
      "outputs": {}
    },
    "parameters": {},
    "endpointsConfiguration": {
      "workflow": {
        "outgoingIpAddresses": [
          {
            "address": "40.68.222.65"
          },
          {
            "address": "40.68.209.23"
          },
          {
            "address": "13.95.147.65"
          }
        ],
        "accessEndpointIpAddresses": [
          {
            "address": "13.95.155.53"
          },
          {
            "address": "52.174.54.218"
          },
          {
            "address": "52.174.49.6"
          }
        ]
      },
      "connector": {
        "outgoingIpAddresses": [
          {
            "address": "40.115.50.13"
          }
        ]
      }
    }
  },
  "id": "/subscriptions/af531b7a-d0ff-455d-a2bf-eae0b300696d/resourceGroups/rgname/providers/Microsoft.Logic/workflows/INT002_Create_Actioncode",
  "name": "INT002_Create_Actioncode",
  "type": "Microsoft.Logic/workflows",
  "location": "westeurope",
  "tags": {
    "displayName": "LogicApp",
    "INTID": "INT002",
    "SLA": "C3 - Low Priority"
  }
}