LogicAppTemplate.Test/TestFiles/integrationaccount.json
{
  "properties": {
    "provisioningState": "Succeeded",
    "createdTime": "2017-01-20T11:23:58.3674648Z",
    "changedTime": "2017-03-30T14:34:58.4847948Z",
    "state": "Enabled",
    "version": "08587107223872362421",
    "accessEndpoint": "https://prod-00.westeurope.logic.azure.com:443/workflows/x",
    "integrationAccount": {
      "name": "ia-tst",
      "id": "/subscriptions/FAKEa1e9-15f5-4c85-bb3e-1e108dc79b01/resourcegroups/resourcegroupname2/providers/Microsoft.Logic/integrationAccounts/ia-tst",
      "type": "Microsoft.Logic/integrationAccounts"
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {},
      "triggers": {
        "request": {
          "type": "Request",
          "kind": "Http",
          "inputs": { "schema": {} }
        }
      },
      "actions": {
        "Flat_File_Encoding": {
          "runAfter": { "Transform_XML": [ "Succeeded" ] },
          "type": "FlatFileEncoding",
          "inputs": {
            "content": "@{body('Transform_XML')}",
            "integrationAccount": { "schema": { "name": "INT0010-Navision.Transfer" } }
          }
        },
        "Response": {
          "runAfter": { "Flat_File_Encoding": [ "Succeeded" ] },
          "type": "Response",
          "inputs": {
            "body": "@body('Flat_File_Encoding')",
            "statusCode": 200
          }
        },
        "Transform_XML": {
          "runAfter": {},
          "type": "Xslt",
          "inputs": {
            "content": "@{triggerBody()}",
            "integrationAccount": { "map": { "name": "INT0010-Alusta.TransferToNavision.Transfer" } }
          }
        }
      },
      "outputs": {}
    },
    "parameters": {},
    "endpointsConfiguration": {
      "workflow": {
        "outgoingIpAddresses": [
          { "address": "40.68.222.65" },
          { "address": "40.68.209.23" },
          { "address": "13.95.147.65" }
        ],
        "accessEndpointIpAddresses": [
          { "address": "13.95.155.53" },
          { "address": "52.174.54.218" },
          { "address": "52.174.49.6" }
        ]
      },
      "connector": { "outgoingIpAddresses": [ { "address": "40.115.50.13" } ] }
    }
  },
  "id": "/subscriptions/FAKEa1e9-15f5-4c85-bb3e-1e108dc79b01/resourceGroups/resourcegroupname/providers/Microsoft.Logic/workflows/INT0010-Transfer",
  "name": "INT0010-Transfer",
  "type": "Microsoft.Logic/workflows",
  "location": "westeurope",
  "tags": { "displayName": "LogicApp" }
}