LogicAppTemplate.Test/TestFiles/Samples/CustomConnector/providers-Microsoft.Logic-workflows-INT001.Invoice.json
{"properties":{"provisioningState":"Succeeded","createdTime":"2017-12-11T09:06:35.7590186Z","changedTime":"2018-01-12T15:40:34.0733717Z","state":"Enabled","version":"08586858352515017541","accessEndpoint":"https://prod-18.westeurope.logic.azure.com:443/workflows/c4f82e3dd4bf43798fa1daebff42cf03","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"Customer-xslt-url":{"defaultValue":"https://int001storage.blob.core.windows.net/transforms/SweInvoice_BIS_5A_2.0_To_Billogram_CreateUpdate_Customer.xsl","type":"String"},"Invoice-xslt-url":{"defaultValue":"https://int001storage.blob.core.windows.net/transforms/SweInvoice_BIS_5A_2.0_To_Billogram_Create_Invoice.xsl","type":"String"}},"triggers":{"manual":{"type":"Request","kind":"Http","inputs":{"schema":{}}}},"actions":{"Condition":{"actions":{"Add_Attachment_to_Billogram":{"runAfter":{},"type":"ApiConnection","inputs":{"body":{"content":"@body('Metadata')?['Attachment']?['Content']","filename":"@body('Metadata')?['Attachment']?['Name']"},"headers":{"Accept":"application/json"},"host":{"connection":{"name":"@parameters('$connections')['Billogram']['connectionId']"}},"method":"post","path":"/billogram/@{encodeURIComponent(body('Create_Billogram')?['data']?['id'])}/command/attach"}}},"runAfter":{"Create_Billogram":["Succeeded"]},"expression":"@body('Metadata')?['HasAttachment']","type":"If"},"Create_Billogram":{"runAfter":{"Map_SweInvoice_BIS_5A_2.0_To_Billogram_Create_Invoice":["Succeeded"]},"type":"ApiConnection","inputs":{"body":"@json(xml(body('Map_SweInvoice_BIS_5A_2.0_To_Billogram_Create_Invoice')))['Invoice']","headers":{"Content-Type":"application/json"},"host":{"connection":{"name":"@parameters('$connections')['Billogram']['connectionId']"}},"method":"post","path":"/billogram"}},"Customer-Exists-In-Billogram":{"actions":{"Update_Customer":{"runAfter":{},"type":"ApiConnection","inputs":{"body":"@body('Parse_JSON')","host":{"connection":{"name":"@parameters('$connections')['Billogram']['connectionId']"}},"method":"put","path":"/customer/@{body('Metadata')['CustomerNumber']}"}}},"runAfter":{"Get_Customer":["Succeeded","Failed"]},"else":{"actions":{"Create_Customer":{"runAfter":{},"type":"ApiConnection","inputs":{"body":"@body('Parse_JSON')","headers":{"Content-Type":"application/json"},"host":{"connection":{"name":"@parameters('$connections')['Billogram']['connectionId']"}},"method":"post","path":"/customer"}}}},"expression":"@equals(body('Get_Customer')?['status'], 'OK')","type":"If"},"Get_Customer":{"runAfter":{"Parse_JSON":["Succeeded"]},"trackedProperties":{"CustomerNumber":"@xpath(xml(triggerBody()), 'string(/*[local-name()=\"Invoice\" and namespace-uri()=\"urn:oasis:names:specification:ubl:schema:xsd:Invoice-2\"]/*[local-name()=\"AccountingCustomerParty\" and namespace-uri()=\"urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2\"]/*[local-name()=\"CustomerAssignedAccountID\" and namespace-uri()=\"urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2\"])')","HTTPStatusCode":"@action()['outputs']['statusCode']"},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['Billogram']['connectionId']"}},"method":"get","path":"/customer/@{encodeURIComponent(xpath(xml(triggerBody()), 'string(/*[local-name()=\"Invoice\" and namespace-uri()=\"urn:oasis:names:specification:ubl:schema:xsd:Invoice-2\"]/*[local-name()=\"AccountingCustomerParty\" and namespace-uri()=\"urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2\"]/*[local-name()=\"CustomerAssignedAccountID\" and namespace-uri()=\"urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2\"])'))}"}},"Map_SweInvoice_BIS_5A_2.0_To_Billogram_Create_Invoice":{"runAfter":{"Customer-Exists-In-Billogram":["Succeeded"]},"type":"Function","inputs":{"body":"@triggerBody()","function":{"id":"/subscriptions/89d02439-770d-43f3-9e4a-8b910457a10c/resourceGroups/INT001.Invoice/providers/Microsoft.Web/sites/INT001FunctionApp/functions/INT001_XslTransform"},"headers":{"Content-Type":"application/xml","x-xslt-url":"@parameters('Invoice-xslt-url')"},"method":"POST"}},"Map_SweInvoice_BIS_5A_2.0_To_Billogram_Update_Customer":{"runAfter":{"Metadata":["Succeeded"]},"type":"Function","inputs":{"body":"@triggerBody()","function":{"id":"/subscriptions/89d02439-770d-43f3-9e4a-8b910457a10c/resourceGroups/INT001.Invoice/providers/Microsoft.Web/sites/INT001FunctionApp/functions/INT001_XslTransform"},"headers":{"Content-Type":"application/xml","x-xslt-url":"@parameters('Customer-xslt-url')"}}},"Metadata":{"runAfter":{},"type":"ParseJson","inputs":{"content":{"Attachment":{"Content":"@xpath(xml(triggerBody()), 'string(/*/*[local-name()=\"AdditionalDocumentReference\"]/*[local-name()=\"Attachment\"]/*[local-name()=\"EmbeddedDocumentBinaryObject\"])')","Name":"@xpath(xml(triggerBody()), 'string(/*/*[local-name()=\"AdditionalDocumentReference\"]/*[local-name()=\"ID\"])')"},"CustomerNumber":"@xpath(xml(triggerBody()), 'string(/*/*[local-name()=\"AccountingCustomerParty\"]/*[local-name()=\"CustomerAssignedAccountID\"])')","HasAttachment":"@xpath(xml(triggerBody()), 'boolean(/*/*[local-name()=\"AdditionalDocumentReference\"]/*[local-name()=\"ID\"])')","InvoiceNumber":"@xpath(xml(triggerBody()), 'string(/*/*[local-name()=\"ID\"])')"},"schema":{"properties":{"Attachment":{"properties":{"Content":{"type":"string"},"Name":{"type":"string"}},"type":"object"},"CustomerNumber":{"type":"string"},"HasAttachment":{"type":"boolean"},"InvoiceNumber":{"type":"string"}},"type":"object"}}},"Parse_JSON":{"runAfter":{"Map_SweInvoice_BIS_5A_2.0_To_Billogram_Update_Customer":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@json(xml(body('Map_SweInvoice_BIS_5A_2.0_To_Billogram_Update_Customer')))['createUpdateCustomer']","schema":{"address":{"careof":"","city":"Göteborg","country":"SE","street_address":"Sveavägen12","use_careof_as_attention":false,"zipcode":"12345"},"company_type":"individual","contact":{"email":"daniel.petersson@ibiz-solutions.se","name":"Björnligan","phone":"0706909217"},"delivery_address":{"careof":"","city":"Stockholm","country":"SE","name":"Björnligan1","street_address":"Fängelset","zipcode":"12345"},"name":"Björnligan","vat_no":""}}},"Response":{"runAfter":{"Condition":["Succeeded"]},"type":"Response","inputs":{"body":{"data":{"invoiceid":"@{body('Create_Billogram')?['data']?['id']}"},"entrytype":"invoice","invoicenumber":"@{body('Create_Billogram')?['data']?['invoice_no']}"},"statusCode":200}}},"outputs":{}},"parameters":{"$connections":{"value":{"Billogram":{"connectionId":"/subscriptions/89d02439-770d-43f3-9e4a-8b910457a10c/resourceGroups/INT001.Invoice/providers/Microsoft.Web/connections/Billogram","connectionName":"Billogram","id":"/subscriptions/89d02439-770d-43f3-9e4a-8b910457a10c/resourceGroups/Messaging/providers/Microsoft.Web/customApis/Billogram"}}}},"endpointsConfiguration":{"workflow":{"outgoingIpAddresses":[{"address":"40.68.222.65"},{"address":"40.68.209.23"},{"address":"13.95.147.65"}],"accessEndpointIpAddresses":[{"address":"13.95.155.53"},{"address":"52.174.54.218"},{"address":"52.174.49.6"}]},"connector":{"outgoingIpAddresses":[{"address":"40.115.50.13"}]}}},"id":"/subscriptions/89d02439-770d-43f3-9e4a-8b910457a10c/resourceGroups/INT001.Invoice/providers/Microsoft.Logic/workflows/INT001.Invoice","name":"INT001.Invoice","type":"Microsoft.Logic/workflows","location":"westeurope"}