LogicAppTemplate.Test/TestFiles/Samples/TableConnector/providers-Microsoft.Logic-workflows-addDataToTable.json
{
  "properties": {
    "provisioningState": "Succeeded",
    "createdTime": "2018-08-21T13:33:44.0970119Z",
    "changedTime": "2018-08-21T13:43:46.2429199Z",
    "state": "Enabled",
    "version": "08586667478592782984",
    "accessEndpoint": "https://prod-40.westeurope.logic.azure.com:443/workflows/74b46a98305740ebaeb744439cce16f9",
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Http",
          "inputs": { "schema": {} }
        }
      },
      "actions": {
        "Get_entities": {
          "runAfter": { "Insert_Entity": [ "Succeeded" ] },
          "type": "ApiConnection",
          "inputs": {
            "host": { "connection": { "name": "@parameters('$connections')['azuretables']['connectionId']" } },
            "method": "get",
            "path": "/Tables/@{encodeURIComponent('testdata')}/entities"
          }
        },
        "Insert_Entity": {
          "runAfter": {},
          "type": "ApiConnection",
          "inputs": {
            "body": "@triggerBody()",
            "host": { "connection": { "name": "@parameters('$connections')['azuretables']['connectionId']" } },
            "method": "post",
            "path": "/Tables/@{encodeURIComponent('testdata')}/entities"
          }
        },
        "Response": {
          "runAfter": { "Get_entities": [ "Succeeded" ] },
          "type": "Response",
          "kind": "Http",
          "inputs": {
            "body": "@body('Get_entities')?['value']",
            "headers": { "Content-Type": "application/json" },
            "statusCode": 200
          }
        }
      },
      "outputs": {}
    },
    "parameters": {
      "$connections": {
        "value": {
          "azuretables": {
            "connectionId": "/subscriptions/c107df29-a4af-4bc9-a733-f88f0eaa4296/resourceGroups/blobtest/providers/Microsoft.Web/connections/azuretables",
            "connectionName": "azuretables",
            "id": "/subscriptions/c107df29-a4af-4bc9-a733-f88f0eaa4296/providers/Microsoft.Web/locations/westeurope/managedApis/azuretables"
          }
        }
      }
    },
    "endpointsConfiguration": {
      "workflow": {
        "outgoingIpAddresses": [
          { "address": "40.68.222.65" },
          { "address": "40.68.209.23" },
          { "address": "13.95.147.65" }
        ],
        "accessEndpointIpAddresses": [
          { "address": "13.95.155.53" },
          { "address": "52.174.54.218" },
          { "address": "52.174.49.6" }
        ]
      },
      "connector": { "outgoingIpAddresses": [ { "address": "40.115.50.13" } ] }
    }
  },
  "id": "/subscriptions/c107df29-a4af-4bc9-a733-f88f0eaa4296/resourceGroups/blobtest/providers/Microsoft.Logic/workflows/addDataToTable",
  "name": "addDataToTable",
  "type": "Microsoft.Logic/workflows",
  "location": "westeurope",
  "tags": {}
}